{% extends "base.html" %}
{% load static %}
{% block title %}
  About_us
{% endblock title %}
{% block contain %}
 
<div class="container-fluid">
    <div class="header">Our Story</div>
    <div class="subheader">Make learning and teaching more effective with active participation and student collaboration</div>
</div>
<div class="background-section">
    <div class="background-title">Background</div>
    <div class="background-text">
        Sipalaya empowers professionals and students in the tech industry with tailored, top-notch training programs. Our expert instructors, with extensive industry experience, provide personalized support. Offering interactive, hands-on courses covering the latest technologies, we’ve helped countless individuals elevate their careers. Join us to achieve your goals confidently.
    </div>
    <div class="background-title">Mission & Vision</div>
    <div class="background-text">
        <h4>Mission:</h4>
        <ul>
            <li>Provide high-quality, comprehensive IT training and development programs.</li>
            <li>Empower professionals and students to advance their careers and achieve their goals.</li>
        </ul>
        
        <h4>Vision:</h4>
        <ul>
            <li> Become the leading provider of IT training and development programs.</li>
            <li> Recognized for our commitment to excellence and helping students succeed in the tech industry.</li>
        </ul>
    </div>
    <div class="background-title">Approach</div>
    <div class="background-text">
        <ul>
            <li>Foster a positive, supportive learning environment.</li>
            <li>Keep pace with the latest technologies and industry best practices.</li>
            <li>Equip students with necessary tools and resources for success.</li>
            <li>Believe in and support every student’s potential for success in the tech industry.</li>
        </ul>
    </div>
</div>


{% endblock contain %}