{% extends "base.html" %}
{% load static %}
{% block title %}
  Search
{% endblock title %}
{% block contain %}

<!-- card section start -->
<div class="course_section">
    <div class="container-fluid">
       <div class="row">            
           {% for i in finds %}
           <div class="col-3">
            <div class="card" style="width: 18rem;" class="mb-4">
             <a href="{% url 'product_detail' i.id %}">
               <img src="{{i.image.url}}" class="card-img-top" alt="product.title" />
               </a>
               
                <div class="card-body">
                  <h5 class="card-title">{{i.name}}</h5>
                  <p class="card-text">{{i.desc}}</p>
                  <hr>
                  <span class="float-start badge rounded-pill bg-danger text-decoration-line-through">रु {{i.mark_price}}</span>

               <span class="float-start badge rounded-pill bg-success">रु {{i.price}}</span>

               <div class="d-grid gap-2 my-5">
         
                 <a href="{% url 'cart_add' i.id %}" class="btn btn-warning bold-btn">Add to cart</a>
               </div>
                </div>
              </div>
        </div>
      
           {% endfor %}
       </div>
    </div>
</div>
<!-- card section end -->

{% endblock %}